@mixin sidebar-text-decouration {
  position: relative;
  display: inline-block;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 13px;
    width: 100%;
    height: 2px;
    background:linear-gradient(247deg,rgba(50,113,255,1) 0%,rgba(54,235,255,1) 100%);
  }
}