@charset "utf-8";
// 用于覆盖element-ui本身的公共样式

// 表格
.el-table {
	font-size: 12px;
	color: #595959;
	td {
		padding: 15px 0;
	}
	.el-button {
		padding: 5px 0;
	}
	.el-checkbox__inner {
		width: 14px;
		height: 14px;
	}
}
.el-table .el-table__header-wrapper th {
	word-break: break-word;
	background-color: #fafcfe;
	color: #333;
	height: 60px;
	font-size: 13px;
}

// 表格多选框
.el-checkbox__input.is-checked .el-checkbox__inner {
	background-color: $color-theme;
	border-color: $color-theme;
}

// 按钮
.el-button--small {
	padding: 9px 20px;
}

.el-button--medium {
	// padding: 10px 30px;
	width: 95px;
	height: 36px;
	font-size: 14px;
	text-align: center;
}

// 对话框
.el-dialog {
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
	.el-dialog__header {
		padding: 15px;
		border-bottom: 1px solid #F3F4F5;
		.el-dialog__title {
			line-height: 18px;
			color: #444;
		}
		.el-dialog__headerbtn {
			top: 15px;
			right: 15px;
		}
	}
	.el-dialog__body {
		padding: 15px 22px;
		.el-form-item {
			.el-form-item__label {
				font-size: 12px;
			}
			.el-input__inner {
				height: 38.4px;
			}
		}
	}
	.el-dialog__footer {
		.dialog-footer {
			text-align: center;
		}
	}
}

// 提示
.el-message {
	min-width: 300px;
	padding: 12px;
	.el-message__content {
		font-size: 13px;
	}
}

// 提示框
.el-message-box {
	.el-message-box__btns {
		text-align: center;
	}
}

// 覆盖团队管理中使用element-ui的样式
.dialog-box{
  .el-scrollbar{
    height:100%;
    .el-scrollbar__wrap {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
// 修改教学管理进度条
.edu-manage{
  .el-scrollbar{
    overflow-x: hidden;
    .el-scrollbar__wrap{
      overflow-x: hidden;
    }
  }
  .el-progress{
    display: flex;
    overflow: hidden;
    .el-progress-bar{
      flex: 1;
      .el-progress-bar__outer{
        margin-top:4px;
      }
    }
    .el-progress__text{
      width:54px;
      text-align: left;
    }
  }
  .outline-box{
    .el-scrollbar{
      height:100%;
      .el-scrollbar__wrap {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
  .right{
    tr.offLine{
      background: #e5e5e5;
      color: #999;
      cursor: no-drop;
      &:hover{
        td{
          background: #e5e5e5;
        }
      }
      .exam-opera-btn{
        color:#999;
        cursor: no-drop;
      }
    }
    .el-table{
      border:1px solid #EDEDED;
      border-bottom:0;
      .el-button + .el-button{
        margin-left:6px;
      }
    }
    .el-table th > .cell{
      padding-left:14px;
    }
    .el-table__empty-block{
      height: 64px!important;
    }
  }
}
.exercise-box{
  .look-study-submit{
    .el-scrollbar{
      height:100%;
      .el-scrollbar__wrap {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
// 教学管理，试卷试题列表修改滚动条
.paper-box{
  .list-box{
    .el-scrollbar{
      height:100%;
      .el-scrollbar__wrap {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
// 教学工具
.teaching-tool{
  margin-right:20px;
  .el-dropdown-link{
    font-size: 12px;
    line-height: 76px;
    padding: 28px 0 28px 50px;
    cursor: pointer;
    // color:#1F7862;
    background-image: url("../../common/images/tool-icon.png");
    background-repeat: no-repeat;
    background-size: 31px 23px;
    background-position: 10px 24px;
  }
}
.teaching-tool-list{
  li{
    text-align: center;
  }
}
//转盘查看往期结果
.lottery-result-dialog{
  .el-scrollbar__wrap{
    overflow-x: hidden;
  }
}
// 投票
.vote{
  .el-checkbox__label{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label{
    color: #606266;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background: white;
  }
}
// 红旗榜
.ranking-box{
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}
// 设置企业修改element样式
.busniess-table{
  &.el-table .el-table__header-wrapper th{
    height: 40px;
  }
  &.el-table th, .el-table td{
    padding:8px 0;
  }
  .el-table__empty-block{
    min-height: 40px;
    .el-table__empty-text{
      line-height: 40px;
    }
  }
  .cell{
    text-align: center;
  }
  td{
    padding:8px 0;
  }
}
.busniess-detail{
  .list-cont{
    flex:1;
    color:#C0C4CC;
    &.area{
      display: flex;
      .el-select{
        margin-right: 10px;
        .el-input__inner{
          height: 30px;
          line-height: 30px;
        }
        .el-input.is-disabled .el-input__icon{
          line-height: 30px;
        }
      }
    }
  }
}
.preview-box{
  &.ql-container.ql-snow{
    border:0;
  }
  img {
    width: auto;
    max-width: 100%;
  }
  .el-scrollbar__wrap{
    overflow-x: hidden;
  }
}
// 修改二次确认弹窗样式
.el-message-box__wrapper{
  .el-message-box{
    padding-bottom:20px;
  }
  .el-message-box__btns{
    padding-top:10px;
  }
}
